
header {
  background-image: url('../img/Jethro_Tull.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-top: 30rem;
  height: 50rem;
  padding-bottom: 10rem;
}

p.card-text > strong {
  font-weight: 900;
  line-height: 10px;
  letter-spacing: 6px;
  text-transform: uppercase;
}

body {
  background-color: #e1e1e1
}
